 
body{
    font-size: 1.1rem;
    height: auto;
}

.primaryColor{
	color: #0033A0 !important;
}

.secondaryColor{
    color: #EF3340 !important;
}

.text.blue {
    color: #0033A0;
}

.text.red {
    color: #EF3340;
}

.text.darkgray {
    color: #727176;
}

.text.gray {
    color: #AEADB3;
}

.text.lightgray {
    color: #2E4E70;
}

.text.dodgerblue {
    color: #1BACEC;
}

/*Menu principal*/

.ui.menu.menuBCR .item:before{
    width: 0px;
}

.ui.icon.menu.menuBCR .item:hover{
    background-color: #ffffff;
}

.ui.modal .close.icon{
    top: 0.5rem;  
	right: 0.5rem; 
    background: transparent; 
    color:#fff; 
}

.ui.modal .header{
    background-color:  #0030A0;
    color:#fff; 
}

.blurring.dimmable>.dimmer{
    background-color:rgba(8,30,98,0.6)
}

.ui.modal .content>p>a{
    color: #000;
    text-decoration: none;
    background-color: transparent;
    font-size: 1.1rem !important;
}

.ui.modal .actions{
    border: none; 
    background: #ffffff;
}

.ui.basic.button.btnAzul {
    background-color: #0030a0 !important;
    color: #fff !important;
    border-color: #0033A0  !important; 
    margin: 0px 20px 0px 20px;
	min-width: 115px;
}

.ui.basic.button.btnAzul:hover{
    color: #fff !important; 
    background-color: #0069d9  !important; 
    border-color: #0062cc  !important; 
	min-width: 115px;
}

.ui.button.btnAzul {
    background-color: #0030a0 !important;
    color: #fff !important;
    border-color: #0033A0  !important; 
    margin: 0px 20px 0px 20px;
	min-width: 115px;
}
.ui.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ui.button.btnAzul:hover{
    color: #fff !important; 
    background-color: #0069d9  !important; 
    border-color: #0062cc  !important; 
    margin: 0px 20px 0px 20px;
	min-width: 115px;
}

.ui.button.btnAzulRecuperacion {
    background-color: #0030a0 !important;
    color: #fff !important;
    border-color: #0033A0  !important; 
	min-width: 115px;
}

.ui.button.btnAzulRecuperacion:hover{
    color: #fff !important; 
    background-color: #0069d9  !important; 
    border-color: #0062cc  !important; 
	min-width: 115px;
}


.ui.basic.button.btnRojo {
    box-shadow:0px 0px 0px 2px #EF3340 inset !important;
    border-color: #0033A0  !important; 
    color: #EF3340 !important;
    background:#fff !important;
    margin: 0px 20px 0px 20px;
	min-width: 115px;
}

.ui.button.btnRojo {
    box-shadow:0px 0px 0px 2px #EF3340 inset !important;
    border-color: #0033A0  !important;
    color: #EF3340 !important;
    background:#fff !important;
    margin: 0px 20px 0px 20px;
	min-width: 115px;
}

.ui.button.btnRojo:hover{
    box-shadow:0px 0px 0px 2px #EF3340 inset !important;
    border-color: #0033A0  !important; 
    color: #C70911 !important;
    background:#fff !important;
    margin: 0px 20px 0px 20px;
	min-width: 115px;
}

/*Iframe*/
body > .pusher .ui.container.iframeContainerAutenticado {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 90px;
}

body > .pusher .ui.container.iframeContainer {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 114px;
}

#ifrm {
   border: none;
   width: calc(100% + 2em);
   min-height: calc(100vh - 119px);
}

.iframeStyle{
	border: none;
    width: 100%;
    min-height: calc(100vh - 125px);
	padding: 0em;
	overflow: hidden;
}

#ifrm1, #ifrm2 {
    border: none;
    width: 100%;
    min-height: calc(100vh - 125px);
 }

#ifrm html, #ifrm1 html, #ifrm2 html  {
   overflow: hidden;
}

#ifrm body, #ifrm1 body, #ifrm2 body {
  padding: 0em;
}

/*Footer*/
.ui.horizontal.footer.segment{
    background-color: #0033A0 ; 
    bottom: 0;
    left:0; 
    width: 100%;
    border: none;
    margin:0; 
    position: fixed;
    padding: 0.3em 0.3em;
}

.ui.horizontal.footer.segment label{
    color: #fff;
    font-size: 1.0rem;
}

/*Ingreso*/
.ui.horizontal.segments.title{
	margin: 0; 
    width: 100%  !important;	
    height: 51px;
	bottom: 0  !important; 
    background-color: #0033A0  !important; 
    border: none;
    border-radius: unset;
    top: 63px;
}

.ui.horizontal.segments>.segment{
    border-left: 0.5px dotted #fff;
}

.imageBackground{
	background-image: url('/imagenes/background.jfif'); 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
	opacity: 0.9; 
    padding: 0px !important;
    height: 100%;
}

.ui.grid.griIngreso{
    margin: 0;
    height: 100%;
}

.ui.inverted.header.title{
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    font-size: 1.5rem; 
}

.ui.header.security{
	color: #0033A0 !important;
    margin-top:60px !important; 
    font-weight:600;
}

.ui.header.registro{
	color: #0033A0 !important;
    margin-top:40px !important; 
    font-weight:600;
}


.ui.security .menuIzquierdoCentral+p{
	margin-top:20px !important; 
	fill: #0033A0;
	padding-top: 1.5rem !important;
	margin-left: 1.5rem !important;
}

.ui.security .menuIzquierdoCentral+p>a{
	color: #2d3338!important;
    text-decoration: none;
    background-color: transparent;
	font-weight: normal;
	font-size: 1.2rem;
}

.ui.security .menuIzquierdoCentral+a>img{
	margin-top:20px !important; 
}

.ui.login{
	background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 123, 255, 0.5) 100%);
	background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(0, 123, 255, 0.5) 100%));
	background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(0, 123, 255, 0.5) 100%);
	/* background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDAsNTEsMTAyLDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoODUsMTcwLDIzOCwxKTsiIC8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgZmlsbD0idXJsKCNncmFkaWVudCkiIGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIC8+PC9zdmc+); */
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 123, 255, 0.5));
	background: -moz-linear-gradient(top, rgba(0,51,102,0.5), rgba(85,170,238,0.5));
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,51,102,0.5)), color-stop(1, rgba(85,170,238,0.5)));
	/*background: linear-gradient(top, rgba(0,51,102,1), rgba(85,170,238,1));*/
	background-image: linear-gradient(-221deg, rgba(0, 0, 0, 0.7), rgba(0, 123, 255, 0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF003366,EndColorStr=#FF55AAEE);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF003366,EndColorStr=#FF55AAEE)";
	height: 100%;
	width: 100%;
	margin:0rem !important; 
}


.ui.grid.login>[class*="five wide"].column{
    margin-top: 45px; 
    margin-right: 3em;
    margin-left: 3em;
    margin-bottom: 20px;
}

.ui.message.mensajeContinuar, 
.ui.form>.stacked.segment{
	height: 370px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
}

.ui.form>.stacked.segment
{
	padding-top: 0px;
}

.hr-light{
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.ui.message.mensajeContinuar>p{
	margin: 2rem; 	
	font-size: 1.1rem;
	font-weight: normal;
}



  .item.social>svg{
	height: 1em;
    display: block;
    font-size: 1.71428571em !important;
    margin: 0em auto 0.5rem !important;
  }

  .ui.form.login{
	  margin-top: 40px; 
	  max-width: 60% !important;
  }

  .login-input{
	position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
  }

  .login-input .prefix{
	-o-transition: color .2s;
    transition: color .2s;
    position: absolute;
    -webkit-transition: color .2s;
    top: .25rem;
	font-size: 1.75rem; 
	left: 0;
  }

  .login-input .form-control {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    height: auto;
    padding: .6rem 0 .4rem 0 !important;
    margin: 0 0 .5rem 0 !important;
    background-color: transparent;
    border-radius: 0;
    width: calc(100% - 2.5rem) !important;
    margin-left: 2.5rem !important;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #2d3338 !important;
    border-radius: 0 !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none !important;
    -webkit-transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    position: relative !important;
    z-index: 2 !important;
}

.login-input label{
	margin-left: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.1rem;
    color: #2d3338;
    cursor: text;
    -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out;
    transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    z-index: 1;
}

.login-input label.active, .login-input label:active {
    -webkit-transform: translateY(-14px) scale(0.8);
    transform: translateY(-14px) scale(0.8);
	font-size: 1rem;
}

login-input input:not([type]):focus:not([readonly])+label,
.login-input input[type="text"]:not(.browser-default):focus:not([readonly])+label,
.login-input input[type="password"]:not(.browser-default):focus:not([readonly])+label {
    color: #0030a0 !important; 
}

.login-input input:not([type]):focus:not([readonly]),
.login-input input[type="text"]:not(.browser-default):focus:not([readonly]),
.login-input input[type="password"]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #0030a0 !important;
    -webkit-box-shadow: 0 1px 0 0 #0030a0 !important;
    box-shadow: 0 1px 0 0 #0030a0 !important;
}

.password-field{
	float: right;
	margin-left: -25px;
	margin-top: 5px;
	position: relative;
	z-index: 2;
}

.ui.checkbox.certificado{
	margin-left: 9px;
}

.enlaceRecuperacion:hover{
	color:#0056b3; 
	text-decoration: underline;
}

.enlaceRecuperacion{
	color:#1baccc; 
	text-decoration: none;
	background-color: transparent;
	font-size: 1.1rem;
}

.enlaceRecuperacion>p{
	padding-top: 20px;
}

.custom-disable{
	color:#E2E4E7 !important;
}

.custom-step-color{
	color:#1BACEC !important;
}

.color-celeste{
	color:#1BACEC !important;
}

.enlace{
	color: #EF3340;
	font-size:medium;
}

.headerTablas{
	background-color: #0030A0 !important;
	color: #FFFFFF !important;
}

.chkCertificado{
	font-size: 1.1rem !important;
}

.btnIngresar{
	margin-top: 30px !important;
}

.bntContinuar{
	margin-top: 20px !important;
}

.btnIngresar, 
.bntContinuar{
	width: 130px;
}

.afiliacion label {
	font-weight: normal !important;
    font-size: 1em !important;
    margin-top: 10px !important;
}

.ui.form.afiliacion {
    margin-top: 50px;
}

#spinnerControler{
    margin-bottom: 40%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px none inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.backArrow{
    position:absolute; 
    margin-left:10px; 
}

.afiliacion label {
	font-weight: normal !important;
    font-size: 1em !important;
    margin-top: 10px !important;
}

.ui.form.afiliacion {
    margin-top: 50px;
}

.ui.form.afiliacion .three.fields .one.wide.field button{
    padding-bottom: .45em;
    padding-right: 0.7em;
}

.ui.form.afiliacion .three.fields .ten.wide.field{
    width: 60% !important;
}

/*Menu*/
.perfil-contenedor{
	height:10em;
	display: inline-block;
	position: relative;
}
.perfil-contenedor .imagen-perfil{
	height:100%;
	width:40%;
	display: inline-block;
    position: relative;
}

.imagen-perfil img{
	max-height: 90%;
	max-width: 90%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
}

.imagen-perfil .no-photo{
	max-height: 90%;
	max-width: 90%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-size:4em;
	padding-top:50%;
	display:none;
}

.perfil-contenedor  .datos-perfil{
	height:100%;
	width:60%;
	float:right;
}
.datos-perfil .text{
	display:block;
}
.datos-perfil b{
	font-size:1.05em;
	padding-top:15%;
	padding-bottom:10%;
}
.datos-perfil small{
	font-size:0.85em;
}

.iframeMecanismo{
    border:none;
    padding-left: 10px;
    padding-right: 10px;
}

.active.n0menu {
    background-color: rgba(0, 0, 0, .1) !important;
}

.n0menu {
    padding: 0em 0em !important;
    margin: 0em 0em 0em 0em !important;
}

.n1menu {
    padding: .5em .5em .5em .5em !important;
    color: #0033A0 !important;
}

.n2menu {
    padding: .5em .5em .5em 1.5em !important;
    color: #0033A0 !important;
}

.n3menu {
    padding: .5em .5em .5em 2.5em !important;
    color: #0033A0 !important;
}

i.blue.icon {
    color: #0033A0 !important;
}

/* Estilos de menu ICONO > */
.ui.accordion .accordion .title .dropdown.icon:before,
.ui.accordion .title .dropdown.icon:before,
.ui.dropdown .menu .item .dropdown.icon:before {
    font-family: 'Icons';
    content: '\f054';
    color: #EF3340;
}

.ui.icon.menu .item {
    color: #0033A0 !important;
}

.ui.accordion .accordion .title .dropdown.icon,
.ui.accordion .title .dropdown.icon {
    float: right;
}

/*Fin Menu*/

.icon-image{
	width:20px;
	height:20px;
}
.icon-login{
	width:30px;
	height:30px;
}

/* Modal diseno anterior*/
.modal_content {
    border: 3px solid #022263;
    display: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0px;

    position: absolute;
    left: 50%;
    /* Centrar */
    top: 50%;
    /* Centrar */
    height: 480px;
    margin-top: -240px;
    /* height/2 */
    width: 650px;
    margin-left: -325px;
    /* width/2 */

    z-index: 1002;
    font-family: Arial, Helvetica, sans-serif;
}

.modal_content h1 {
    font-size: 14px;
    margin-bottom: 0px;
}

.sbttn {
    background: none repeat scroll 0 0 #FF3535;
    border-color: #DF0000 #A80000 #A80000 #DF0000;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
}

.modal_content::-webkit-scrollbar-track {
    background: white;
    -webkit-transition: white;
}

.modal_content::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-transition: gray;
}

.black_overlay {
    background: #000000;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    opacity: .50;
    filter: alpha(opacity=50);
}

@-moz-document url-prefix() {
    div.dataTables_wrapper div.dataTables_length select{
        padding: 10px 0px 10px 0px !important;
    }
	
	.password-field{
        margin-top: -30px
    }
}
.ui.breadcrumb{
	margin-left: 1.5em;
    margin-bottom: 1.5em;
}

.footerTable{
    margin-top: 1.5em;
}

.spanPointer{
    cursor: pointer;
}

.dataTables_wrapper{
	overflow-x: auto;
}
.dataTables_wrapper .table.dataTable{
    width: 99.9%;
    margin: 0 auto;
}

@media only screen and (max-width:767px){

    .ui.header.security, 
    .ui.security .menuIzquierdoCentral+a, 
    .ui.container.iframeContainer,
    .ui.container.iframeContainerAutenticado, 
    .ui.security .menuIzquierdoCentral+p{
        margin: 0px !important;
    }
   
    .ui.security .menuIzquierdoCentral+a>img{
       width: 130px !important;
    }
    .menuIzquierdoCentral{
        display: flex;
        flex-direction: row;     /* make main axis horizontal (default setting) */
        justify-content: center; /* center items horizontally, in this case */
        align-items: center;     /* center items vertically, in this case */
    }

    .ui.grid.login>[class*="five wide"].column{
        width: 80% !important;
    }

    .imageBackground {
        height: 150%;
    }

    body > .pusher .ui.container.iframeContainer, 
    body > .pusher .ui.container.iframeContainerAutenticado {
        width: 100% !important;
        margin: 0 !important;
    }

    .ui.container {
        margin-right: 2em!important;
    }

    #ifrm {
        border: none;
        width: calc(100% + 2em);
        min-height: calc(100vh - 150px);
    }

    
    #ifrm1, #ifrm2 {
        min-height: calc(100vh - 150px);
    }
}

.reglamentoIframe{
	width: 100% !important;
	height: 430px !important;
}

@media only screen and (min-width:768px) and (max-width:991px){

    .ui.header.security, 
    .ui.security .menuIzquierdoCentral+a, 
    .ui.container.iframeContainer, 
    .ui.container.iframeContainerAutenticado, 
    .ui.security .menuIzquierdoCentral+p{
        margin: 0px !important;
    }

    .ui.container {
        margin-right: 2em!important;
    }

    .ui.security .menuIzquierdoCentral+a>img{
       width: 130px !important;
    }

    .menuIzquierdoCentral{
        display: flex;
        flex-direction: row;     /* make main axis horizontal (default setting) */
        justify-content: center; /* center items horizontally, in this case */
        align-items: center;     /* center items vertically, in this case */
    }

    .ui.grid.login>[class*="five wide"].column{
        width: 40% !important;
    }

    #ifrm {
        min-height: calc(100vh - 150px);
    }

    #ifrm1, #ifrm2 {
        min-height: calc(100vh - 150px);
    }
}


::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0033A0; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0033A0; 
  }
  
  .oculto{
	display: none !important;
  }
    .table-contenedor .buscador-tabla{
	text-align:right;
	margin-bottom: -0.8em;
  }
  
  
  @supports not (-ms-high-contrast: none) {
  :focus{
	  box-shadow:0 0 0 3px rgba(16,117,187,0.5) !important;
	  outline:none !important;
  }
}

.ui.checkbox label {
	transition: none;
}

